<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.elite"
          android:sharedUserId="android.uid.system"
          >
    <!--android:sharedUserId="android.uid.system"-->
    <uses-permission android:name="android.intent.action.BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name=".TimeLockApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".activity.SetPasswordActivity"
                  android:label="@string/entry_password_to_unlock_title"/>
        <activity android:name=".activity.SetTimePeriodActivity"/>
        <activity android:name=".activity.MainActivity"
                  >
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>
        <service
            android:name=".service.Service1"
            android:enabled="true"
        >
            <!--android:process=":service1"-->
        </service>
        <service
            android:name=".service.Service2"
            android:enabled="true"
        >
        </service>
        <receiver
                  android:name=".receiver.EliteReceiver"
                  android:enabled="true"
                  android:exported="true"
                  android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter  android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.TimeChangeReceiver">

        </receiver>
    </application>

</manifest>